body {
    font-family: sans-serif;
    color: #414141;
}

a {
  color: #414141; /* Dark blue color */
}

footer {

  height: 50px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666;
}


.markdown-content {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.intro {
  width: 800px;
  margin: 0 auto;
}

#query-io-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.query-interface {
  width: 800px;
  margin: 0 auto;
}
#query-input {
  width: 400px;
  white-space: normal;
}

.form-input-container {
  display: flex;
  align-items: center;
}

#query-input {
  margin-right: 10px;
}

#loading-icon {
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

img {
  border-radius: 10px;
}