<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CEHDDS692N"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CEHDDS692N');
    </script>
    <title>Jason's Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments-codestyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <div class="intro">
        <h1 style="display: flex; align-items: center;">
            <a href="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <strong>JASON X</strong>
                <img src="/static/images/jason.png" width="50" style="margin-left: 20px;" />
            </a>  
        </h1>

    </div>

    <div class="markdown-content">{{ content|safe }}</div>

    <footer>
        <p>Website created by Jason Xie, May 2023</p>
    </footer>
</body>
</html>
